/old version/fbAdminConfig.json
/old version/fbconfig.json
/old version/.idea/
/old version/.env
/venv
/old version/node_modules
/old version/DataSet3.csv
/old version/debug.log
/old version/udemy.png
/old version/youtube.png
/.idea
/server/config
/server/node_modules
/server/.idea
/ml api/chromedriver.exe
/server/Client/node_modules
/.DS_Store
/Client/src/components/.DS_Store
/ml api/.env
/server/.env

/server/.DS_Store
/server/Client/.DS_Store
/server/Client/src/.DS_Store
/server/Client/.env

/Client/.env
/Client/node_modules
/server/db.js