.search-bar {
    height: 91vh ;
}
.bar {
    padding-top: 25vh ;
    padding-left: 25% ;
    padding-right: 25% ;
    padding-bottom: 25vh ;
}
#SkillOfWeek {
    height: 100vh ;
}
h1 {
    text-align: center ;
}
