{% extends "index.html" %}
{% block content %}
<!--------------------------------------------- Search Bar -------------------------------------------------------->

<section class="search-bar container-fluid">

    <form class="bar" method="get" action="/result">
        <div>
            <h1>Enter Query</h1>
            <input type="text" class="form-control" id="query" placeholder="Search" name="query">
            <br>
            <button type="submit" class="btn btn-primary" id="searchQuery">Submit</button>
        </div>
    </form>

</section>

<!--------------------------------------------- Skill of the Week -------------------------------------------------------->


<section class="container-fluid" id="SkillOfWeek">
    <h1>Skill Of the Week</h1> <br>
    <section class="row">
        {% for skill in topSkills %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{skill.skill_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{skill.skill_name}}</h5> <!-- Title -->
                    <p class="card-text">{{skill.skill_count}} - </p>
                </div>  <!-- No. of searches -->

                <div class="card-body">
                    <button onclick="searchGivenSkill('{{ skill.skill_name }}')" class="card-link">Learn More</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</section>
{% endblock content %}