{% extends "index.html" %}
{% block content %}
<section class="container-fluid contactUs" id="Result">
            <h1>Contact Us</h1> <br>

            <h2>Feel free to contact us regarding any query or feedback</h2>

            <br><div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Yashi Agarwal</h5>
                            <p class="card-text">Backend Developer</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Email - 18803033@mail.jiit.ac.in </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Jayant Goel</h5>
                            <p class="card-text">Machine Learning Developer</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Email - 18103255@mail.jiit.ac.in </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Siddhant Jain</h5>
                            <p class="card-text">Front-end Developer</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Email - 18803010@mail.jiit.ac.in</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}